body {
    background-color: #ebeef4;
}

#wrapper {
    width: 600px;
    margin: auto;
}

#txtUserName {
    background-color: transparent;
    border: solid 1px black;
}

#left,
#right {
    min-height: 300px;
}

#left {
    width: 30%;
    float: left;
    background-color: #f0f2d0;
}

#right {
    width: 70%;
    float: right;
    background-color: #d4f9f8;
}

#boxTitle,
#Room {
    border: solid 1px black;
    padding: 5px;
    text-align: center;
}

#boxContent,
#boxRoom {
    border: solid 1px black;
    padding: 5px;
    border-top: none;
    text-align: center;
}

#sayHi {
    text-align: right;
}

#listMessages {
    height: 200px;
    background-color: #fcead4;
}

#txtMessage {
    background-color: transparent;
    border: solid 1px black;
}